<ion-view title="Login">
  <ion-content scroll="false">
    <ion-slide-box on-slide-changed="slideHasChanged(index)">
      <ion-slide>
        <div class="onboarding-wrapper">
          <p>Liker ou dissliker anonyment les suggestions de profil</p>
          <img ng-src="img/ecran1.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="onboarding-wrapper">
          <p>Si quelqu'un que vous avez liker vous like en retour...</p>
          <img ng-src="img/ecran2.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="onboarding-wrapper">
          <p>Vous pouvez discuter avec votre match</p>
          <img ng-src="img/ecran3.png">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="onboarding-wrapper">
          <p>envoyez lui vos plus belle photo de vous</p>
          <img ng-src="img/ecran4.png">
        </div>
      </ion-slide>
    </ion-slide-box>
    <div class="button-wrapper">
      <button type="button" name="button" class="button facebook-button">
        <i class="icon ion-social-facebook big"></i> Se connecter avec Facebook
      </button>
      <p><i class="icon ion-ios-information-outline"></i> Nous ne postons rien sur Facebook</p>
    </div>
</ion-content>
</ion-view>
