<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Coder  <i class="icon ion-ios-heart"></i></h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home icon-menu"></i> Accueil
        </ion-item>
        <ion-item menu-close href="#/app/profile">
            <i class="icon ion-person icon-menu"></i> Profil
        </ion-item>
        <ion-item menu-close href="#/app/settings">
            <i class="icon ion-gear-a icon-menu"></i> Paramètres
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
