/* Empty. Add your own CSS if you like */
.bar.bar-stable .title, .bar-stable .button.button-clear {
  color: #FF6C6C;
  font-size: 2.2em;
  font-weight: 600;
}

.icon-menu {
  color: #FF6C6C;
  font-size: 25px;
  margin-right: 10px;
  border: 2px solid;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 50%;
}

.item-content {
  font-size: 1.8em;
  font-weight: 500;
}

.onboarding-wrapper, .button-wrapper {
  text-align: center;
}

.onboarding-wrapper > img{
  width:25.0em;
  margin-bottom: 3%;
}

.onboarding-wrapper > p{
  font-size: 2.2em;
  padding-left:  50px;
  padding-right: 50px;
  font-weight: 500;
  line-height: 1.3em;
}

i.big {
  font-size: 17px;
  margin-right: 10px;
}

.facebook-button {
  background-color: #385998;
  color: #fff;
  font-size: 2.1em;
  margin-bottom: 5px;
}

.facebook-button:hover {
  color: #fff;
}
